// @font-face {
//   font-family: "HelveticaNeue";
//   src: url("/fonts/HelveticaNeue-Regular.otf") format("opentype");
//   font-weight: 400;
//   font-display: swap;
// }

@font-face {
  font-family: "Nunito";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}
