// Palette
$white: white;
$black: black;
$dark-grey: #262626;
$lemon-green: #93FF0B;
$grey-font: #CCCCCC;
$bg-grey: #F4F4F4;

$subtle-grey: #E1E1E1; // $grey-font; difference entre le Charte Graphique et le reste
$primary: #262626;
$secondary: $lemon-green;


$bg-light: $bg-grey;
$bg-dark: $dark-grey;
$bg-flavor: $secondary;

$menu-subtle: $grey-font;
$menu-active: $secondary;
$menu-back: #6C6C6C; // difference avec Charte Graphique
$menu-bg: white;

$logo-grey: #2f2f2f;
$logo-dark-grey: #262626;

$text-subtle: $subtle-grey;
$text-dark: $dark-grey;
$text-white: #FFFFFF;
$text-black: #000000;